* {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-variant: small-caps;  
}

hr {
    border: 0;
    width: 100%;
    display: block;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .25), rgba(0, 0, 0, 1.0), rgba(0, 0, 0, .25));
}

.instructions{
    margin-top: 30px;
    margin-bottom: 40px;
}

h1 { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 15px; 
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: 700; 
    line-height: 39.6px; 
}

label, input, option, select { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 20px !important; 
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: normal; 
    width:195px;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

select{
    height: 35px;
}

h3 { 
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    font-size: 400% !important; 
    font-style: italic; 
    font-variant: small-caps; 
    font-weight: bolder !important;
    color: white;
}

.box {
    width: 450px;
    height: 100px;
    padding: 10px;
    background-color: red;
}

button {
    background-color: red;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid red;
  }

#taskStatus{
    width: 100%;
    height: 600px;
    margin: 0px 20px;
    background-color: #d6d6d6;
}

button:hover{
    background-color: red;
    color: white;
}

button:active {
    background-color: black;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

#submitButton{
    margin-top: 50px;
}